* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Bellefair", serif;
}

html {
  font-size: 62.5%;
  background-color: #eff7fe;
  height: 100%;
}

body {
  max-width: 620px;
  margin: 0 auto;
  background-color: #ffffff;
  border-right: 1px ridge #b1d7f8;
  border-left: 1px ridge #b1d7f8;
}

.hidden {
  display: block;
}

.headerNav {
  font-size: clamp(1rem, 5vw, 2rem);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: min(7vw, 80px);
  padding-top: 1.6rem;
  padding-bottom: min(1.6rem, 5%);
  background-color: #54a8ef;
  margin: 0 auto;
  max-width: 620px;
  border-radius: 0 0 2rem 2rem;
}
.headerNav i, .headerNav a {
  color: white;
  padding-right: 0.3rem;
}
.headerNav span {
  padding-bottom: 0.7rem;
}
.headerNav span:hover {
  border-bottom: 2px solid white;
  border-radius: 0 0 0.4rem 0.4rem;
}
.headerNav .underline {
  border-bottom: 2px solid white;
  border-radius: 0 0 0.4rem 0.4rem;
}

.kropelekAndText {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}
.kropelekAndText #kropelekImg {
  width: 35%;
  max-width: 280px;
  height: 35%;
  max-height: 310px;
  min-height: 120px;
}
.kropelekAndText .welcomeText {
  font-size: clamp(1.7rem, 5vw, 2rem);
  max-height: 400px;
}
.kropelekAndText .welcomeText .welcomeTextBox {
  margin-top: 2rem;
  border: 1px solid #b1d7f8;
  align-items: center;
  justify-content: left;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
}
.kropelekAndText .welcomeText .welcomeTextBox span {
  text-align: center;
}

.status {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.status i {
  font-size: clamp(1.8rem, 4vw, 3rem);
}
.status progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 2rem;
}
.status progress::-webkit-progress-value {
  background-image: linear-gradient(to right, #d0e7fb, #b1d7f8, #92c7f5, #73b7f2, #54a8ef);
  border-radius: 2rem;
}
.status progress::-webkit-progress-bar {
  background-color: #ffffff;
  border-radius: 2rem;
}
.status .bar {
  width: clamp(25rem, 60vw, 44rem);
  border: 0.18rem solid #1688e9;
  height: clamp(1.8rem, 3vh, 2.2rem);
  border-radius: 1rem;
  margin: 0 0.5rem;
  padding: 0.02rem 0.1rem;
}

.resultat {
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 1.8rem);
  color: black;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.missionCompleteText {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-size: 1.8rem;
  color: #1376ca;
  text-align: center;
  display: none;
}

.cupSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 3rem;
}
.cupSection .cupSectionPodsekcja {
  display: flex;
  gap: 8%;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}
.cupSection .cupSectionPodsekcja .fa-glass {
  height: 50px;
  width: 50px;
  background-color: black;
  color: white;
}
.cupSection .cupSectionPodsekcja__cupDiv {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.cupSection .cupSectionPodsekcja__cupDiv:hover {
  opacity: 0.9;
}
.cupSection .cupSectionPodsekcja__cupDiv span {
  font-size: 1.2rem;
}
.cupSection .cupSectionPodsekcja__cupDiv .cupDiv__image {
  width: 60px;
  height: 60px;
}
.cupSection .cupSectionPodsekcja button {
  background-color: #b1d7f8;
  border: 1px solid #73b7f2;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.inputSection {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.inputSection .genders {
  display: flex;
  gap: 2rem;
}
.inputSection form {
  display: flex;
  justify-content: left;
  flex-flow: column nowrap;
  width: 50%;
  gap: 0.3rem;
  font-size: 1.5rem;
}
.inputSection input {
  margin-bottom: 1.5rem;
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
}
.inputSection .submitDiv {
  display: flex;
  justify-content: left;
  gap: 1rem;
}
.inputSection .submitDiv .submit {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #54a8ef;
  background-color: #73b7f2;
  font-size: 1.5rem;
  font-weight: 500;
}
.inputSection .submitDiv .clearStorage {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #73b7f2;
  background-color: #d0e7fb;
}
.inputSection .saveMassage {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 1rem;
  color: #3598ec;
}
.inputSection .saveMassage .saveMassage__text {
  display: none;
}

.resetYourDayButton {
  justify-content: left;
  display: none;
}
.resetYourDayButton .resetYourProgress {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #73b7f2;
  background-color: #d0e7fb;
  margin-top: 5%;
  font-size: 1.7rem;
}

.calendar {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.calendar .calendar__scale {
  height: 300px;
  width: 80%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: flex-end;
  gap: 6px;
  padding-left: 8px;
}
.calendar .calendar__scale--day {
  width: 30px;
  border: 1px solid #73b7f2;
  background: #b1d7f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .calendar__scale .monday--span, .calendar .calendar__scale .thuesday--span, .calendar .calendar__scale .wednesday--span, .calendar .calendar__scale .thursday--span, .calendar .calendar__scale .friday--span, .calendar .calendar__scale .saturnday--span, .calendar .calendar__scale .sunday--span {
  display: inline-block;
  position: relative;
  transform: rotate(90deg);
  font-size: 1.7rem;
  letter-spacing: 1px;
  padding-right: 10px;
}
.calendar .calendar__ml {
  display: flex;
  flex-flow: column;
  gap: 36px;
  padding-right: 4px;
  font-size: 1.2rem;
  text-align: right;
}

.callendar__day {
  display: flex;
  font-size: 1.2rem;
  margin: 0 auto;
  padding-top: 4px;
  padding-left: 54px;
  gap: 14px;
}

.statistic {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  width: 90%;
  margin: 0 auto;
  font-size: 1.7rem;
  text-align: left;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.statistic__AveragePerDay span, .statistic__AveragePerGlass span {
  background-color: #b1d7f8;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.substractWater {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 5%;
  padding-bottom: 5%;
  font-size: 1.2rem;
}
.substractWater .substractButton {
  display: flex;
}
.substractWater .substractButton .substractButtons {
  border: 1px solid #b1d7f8;
  padding: 0.25rem 0.5rem;
}
.substractWater .substractButton .OFF {
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #b1d7f8;
}
.substractWater .substractButton .ON {
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: white;
}

.forNewUsersOnly {
  display: block;
}
.forNewUsersOnly .loginInfoDiv {
  padding-top: 8%;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.forNewUsersOnly .loginInfoDiv h1, .forNewUsersOnly .loginInfoDiv p, .forNewUsersOnly .loginInfoDiv span {
  padding-bottom: 8%;
  font-size: clamp(1.5rem, 5vw, 2rem);
}
.forNewUsersOnly .dataAndImg {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 5vw;
  padding-top: 8%;
}
.forNewUsersOnly .dataAndImg .dataEnterDiv {
  width: 90%;
  margin: 0 auto;
}
.forNewUsersOnly .dataAndImg .dataEnterDiv form {
  display: flex;
  flex-flow: column nowrap;
}
.forNewUsersOnly .dataAndImg .dataEnterDiv form label {
  padding: 4% 0;
}
.forNewUsersOnly .dataAndImg .dataEnterDiv form input {
  width: 100%;
  padding: 0.25rem 0.5rem;
}
.forNewUsersOnly .dataAndImg .dataEnterDiv .submitDiv {
  padding: 5% 0;
}
.forNewUsersOnly .dataAndImg .dataEnterDiv .submitDiv button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #54a8ef;
  background-color: #73b7f2;
  font-size: 1.5rem;
  font-weight: 500;
}

.shake {
  -webkit-animation-name: glassShake;
          animation-name: glassShake;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes glassShake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes glassShake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(15deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 600px) {
  .callendar__day {
    padding-left: 70px;
    gap: 15.5px;
  }
}/*# sourceMappingURL=main.css.map */