$black : black;
$primary-blue : #54a8ef;
$blueShade1 : #eff7fe;
$blueShade2 : #d0e7fb;
$blueShade3 : #b1d7f8;
$blueShade4 : #92c7f5;
$blueShade5 : #73b7f2;
$blueShade6 : #54a8ef;
$blueShade7 : #3598ec;
$blueShade8 : #1688e9;
$blueShade9 : #1376ca;
$blueShade10 : #1063ab;
